
#CaixaAvaliacoes {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 40px;
  position: relative;
  background-color: rgb(0, 0, 0);
  gap: 20px;
  z-index: 1;
}

#CaixaAvaliacoes .AreaTxt {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

#CaixaAvaliacoes .AreaTxt h1 {
  font-size: var(--t3);
  color: var(--AzulNeon);
  text-align: center;
  width: 100%;
}

#CaixaAvaliacoes .AreaTxt p {
  font-size: var(--p3);
  color: var(--Cinza);
  text-align: center;
  width: 100%;
  line-height: var(--t2);
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  white-space: nowrap;
  width: 800px;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0),
    rgba(0, 0, 0, 0)
  );
  height: 80px;
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: flex;
  display: inline-block;
  animation: 60s slide infinite linear;
}

.logos-slide img {
  width: 800px;
  height: 80px;
}
